package ${package_name}.service.impl;

import com.tangmall.role.common.base.BaseServiceImpl;
import ${package_name}.dao.read.base.${model}ReadMapper;
import ${package_name}.dao.write.base.${model}WriteMapper;
import ${package_name}.model.base.${model};
import ${package_name}.model.base.${model}Example;
import ${package_name}.service.${model}Service;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

/**
* ${model}Service实现
* Created by tangbo on ${ctime}.
*/
@Service
@Transactional
public class ${model}ServiceImpl extends BaseServiceImpl<${model}ReadMapper,${model}WriteMapper, ${model}, ${model}Example> implements ${model}Service {

    private static final Logger LOGGER = LoggerFactory.getLogger(${model}ServiceImpl.class);

    @Autowired
    private ${model}ReadMapper ${mapper}ReadMapper;

    @Autowired
    private ${model}WriteMapper ${mapper}WriteMapper;
}